@page "/transaction"
@using Transactions.Shared
@using Transactions.Shared.Model
@inject HttpClient Http

<h1>Account</h1>

<p>Create new, view, or delete transaction.</p>

<a href="/transaction/create">
    <button class="btn">Create</button>    
</a>

@if (accounts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Account Number</th>
                <th>Bank Name</th>
                <th>Iban</th>
                <th>Currency</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in accounts)
            {
                <tr>
                    <td>@account.AccountNumber</td>
                    <td>@account.BankName</td>
                    <td>@account.Iban</td>
                    <td>@account.Currency</td>
                    <td><a href="/accounts/@account.Id/edit">Edit</a></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private AccountResponse[] accounts;

    protected override async Task OnInitializedAsync()
    {
        accounts = await Http.GetFromJsonAsync<AccountResponse[]>("account-api/v1/accounts");
    }
}
